
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    background-color: #007bff;
    color: white;
    font-family: 'Georgia', 'Times New Roman', serif;
}
  
.logo {
    display: flex; 
    align-items: baseline; 
    gap: 10px; 
}

.logo h1 {
    font-size: 2rem; 
    margin: 0; 
    color: white; 
}

.logo p {
    font-size: 1rem; 
    margin: 0; 
    color: white; 
    font-style: italic; 
}

.navbar ul {
list-style: none;
display: flex;
gap: 15px;
margin: 0;
padding: 0;
}

.navbar ul li {
display: inline;
}

.navbar ul li a {
color: white;
text-decoration: none;
font-weight: bold;
}

.navbar ul li a:hover {
text-decoration: underline;
}
